# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# VS Code Settings
.vscode/

# Environment Variables
.env

# Operating System Files
.DS_Store
Thumbs.db

# Generated Reports
reports/

# Temporary Files
*.log

# Generated Images
images/cover/output/